.my-footer {
    height: 5em;
    padding: 1em;
    background-color: #000000;
    margin-top: 1.5em;
    color: #ffffff;
    font-size: 80%;
}

.room-img {
    max-width: 50%;
}

/* override styles here */
.notie-container {
    box-shadow: none;
}
.swal2-actions{
    z-index: 0;
}