{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h2 style="color: navy">This Is About Page</h2>
            </div>

        </div>
    </div>

{{end}}