{{template "base"  .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 style="color: navy">This Is Home Page</h2>
                <p>This is Some text</p>
            </div>

        </div>
    </div>
{{end}}
